# =========== JBoss Data Virtualization variables ===========
jboss_home: "/Applications/opt/jboss/dv"   

# Directory for the target running instance
jboss_eap_instance_dir: "{{ jboss_home }}/standalone"

# Name of the used standalone XML file
jboss_eap_instance_standalone_file: standalone.xml

# Port offset for the JBoss EAP instance
jboss_eap_instance_port_offset: 0

# Port used only during updates using the CLI (port should be available)
jboss_eap_instance_cli_default_port: 9999

# Offsetted port used for CLI updates
jboss_eap_instance_cli_port: "{{ jboss_eap_instance_cli_default_port|int + jboss_eap_instance_port_offset|int }}"


# =========== HDP Hive JDBC jars ===========
hadoop_auth_url: "http://repo.hortonworks.com/content/repositories/releases/org/apache/hadoop/hadoop-auth/2.7.3.2.5.0.0-1245/hadoop-auth-2.7.3.2.5.0.0-1245.jar"
hadoop_common_url: "http://repo.hortonworks.com/content/repositories/releases/org/apache/hadoop/hadoop-common/2.7.3.2.5.0.0-1245/hadoop-common-2.7.3.2.5.0.0-1245.jar"
hadoop_jdbc_standalone_url: "http://repo.hortonworks.com/content/repositories/releases/org/apache/hive/hive-jdbc/1.2.1000.2.5.0.0-1245/hive-jdbc-1.2.1000.2.5.0.0-1245-standalone.jar"

# =========== Other ===========
# Local directory containing the used CLI files
cli_dir: "{{ playbook_dir }}/files/cli"
xml_dir: "{{ playbook_dir }}/files/xml"
cli_list: { "add_driver.cli","add_datasource.cli" }
cli_timeout: 15
